h1, h2, h3, h4, h5, h6, legend, body, p, a, button, input, div, img, select, option, textarea {
	font-family: 'Ubuntu', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

body {
	padding-top: 50px;
}

.cc-vertical-center {
	top: 35%;
}

.cc-light-font {
	color: #909090;
}

.cc-node-input-logo {
	height: 20px;
	margin: -5px;
}

.cc-node-medium-logo {
	width: 60px;
	padding: 3px;
}

.cc-node-small-logo {
	height: 30px;
	padding: 3px;
}

.cc-input-required-label {
	padding: 1px;
	color: red;
	font-size: 0.75em;
}

.text-error {
	color: red;
	font-size: 0.8em;
}

.cc-node-description {
	font-size: 1.25em;
	color: gray;
}