h1, h2, h3, h4, h5, h6, legend, body, p, a, button, input, div, img, select, option, textarea {
	font-family: 'Ubuntu', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

body {
	padding-top: 50px;
}

.cc-index-feature-header {
	font-family: 'Roboto', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	color: #F08080;
}

.cc-index-feature-description {
	color: #808080;
}

.cc-vertical-center {
	top: 35%;
}

.cc-light-font {
	color: #909090;
}

.cc-node-input-logo {
	height: 20px;
	margin: -5px;
}

.cc-node-medium-logo {
	width: 60px;
	padding: 3px;
}

.cc-node-small-logo {
	height: 30px;
	padding: 3px;
}

.cc-input-required-label {
	padding: 1px;
	color: red;
	font-size: 0.75em;
}

.text-error {
	color: red;
}

.cc-node-description {
	font-size: 1.25em;
	color: gray;
}

.cc-login-form {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#F0F0F0;
	padding: 50px;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px; 
	box-shadow: #B3B3B3 2px 2px 2px;
}

.cc-title-light {
	text-align: center; 
	font-size: 3.5em; 
	padding-top: 35px; 
	padding-bottom: 35px; 
	color: #F0F8FF;	
	text-shadow: black 0.1em 0.1em 0.2em;
}

.cc-control-cloud {
	text-align: center; 
	font-size: 3.5em; 
	padding-top: 35px; 
	padding-bottom: 35px; 
	color: #A9A9A9;	
	font-family: 'Roboto', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

.cc-title-dark {
	text-align: center; 
	font-size: 3.5em; 
	padding-top: 35px; 
	color: #5F9EA0;	
}

input.ng-dirty.ng-invalid {
	color: red;
}

.cc-page-loader {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.index-feature-container {
	padding-bottom: 100px; 
	padding-top: 100px;
	background-repeat: no-repeat;
	background-position: 50% 0;		
}
