@(resetURL: String)

<table>
	<tr>
		<th>
			<h3 style="font-family: Verdana, Helvetica;">Welcome to Clocen!</h3>
		</th>
	</tr>
	<tr>
		<td>
			<p style="font-family: Verdana, Helvetica;">
				 Your request to join Clocen has been processed, 
				 and we are happy to say that we are now ready for you.  
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
			<p style="font-family: Verdana, Helvetica;">
				Please <a href="@resetURL">visit Clocen</a> in order to activate your account. We will be waiting for you. 
			</p>
		</td>	
	</tr>
	<tr>
		<td>
			<br/>
			<p style="font-family: Verdana, Helvetica;">
				Cheers, <br/>
				Deepak Nayal <br/>
				Founder - Clocen
			</p>	
		</td>
	</tr>
</table>
