
<table>
	<tr>
		<th>
			<h3 style="font-family: Verdana, Helvetica;">Thanks for signing up!</h3>
		</th>
	</tr>
	<tr>
		<td>
			<p style="font-family: Verdana, Helvetica;">
				 Thank you for registering with Clocen. We are in beta stage at the 
				 moment and are opening Clocen to our users slowly.  
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
			<p style="font-family: Verdana, Helvetica;">
				We will certainly reach out to you when your login request has been processed. Have a nice day. 
			</p>
		</td>	
	</tr>
	<tr>
		<td>
			<br/>
			<p style="font-family: Verdana, Helvetica;">
				Cheers, <br/>
				Deepak Nayal <br/>
				Founder - Clocen
			</p>	
		</td>
	</tr>
</table>
