<!DOCTYPE html>
<html>
	<head>
		<title>Thanks for registering with us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body>
		@navbar()
		<div class="container">
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<p class="lead">
						Thank you for registering with us. We are in beta stage at 
						the moment and are opening Clocen to our users slowly.
					</p>
					<p class="lead">
						We will certainly reach out to you when your login request has been processed. Have a nice day. 
					</p>
					<p class="lead">
						Cheers,<br/>
						Clocen
					</p>
				</div>
			</div>
		</div>
	</body>
</html>