@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Create Process</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app="CreateProcessApp">
		@navbar()
		<div class="container" id="ProcessController" ng-controller="ProcessController">
			<div class="row page-header">
				<div class="col-md-12">
					<h1><span class="glyphicon glyphicon-link"></span>&nbsp;Create Your Process</h1>
				</div>
			</div>

<!-- -------------->
		<form name="processform" novalidate>
			<div class="row">
				<div class="row" ng-repeat="counter in count">
					<span class="text-primary col-md-12" ng-switch on="counter.index">
						<span ng-switch-when="0">
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Configure Trigger</h3>
						</span>
						<span ng-switch-when="1">
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Configure Action</h3>
						</span>
						<span ng-switch-default>
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Configure Next Action</h3>
						</span>
					</span>
					<div class="row">
						<div class="col-md-1">
							<img class="cc-node-medium-logo" ng-src="{{node[counter.index].nodeLogo}}">
						</div>
						<div class="col-md-3">
							<select class="form-control input-lg" ng-required="true" ng-model="node[counter.index]" ng-options="n.nodeName for n in nodes" ng-change="updateActivities(counter.index)">
								<option value="">-- Select Service --</option>
							</select>
						</div>
						<div class="col-md-offset-1 col-md-3">
							<select class="form-control input-lg" ng-required="true" ng-model="process[counter.index].data" ng-options="t.name for t in activities[counter.index]"></select>
						</div>
						<div ng-if="node[counter.index].authorized" class="col-md-2" style="color:green;font-size: 1.5em;">
							<span class="glyphicon glyphicon-ok-sign"></span>
						</div>
						<div ng-if="node[counter.index] && !node[counter.index].authorized" class="col-md-2">
							<button ng-click="openAuthorizeWindow(node[counter.index])" target="_new_" class="btn btn-lg btn-success">Authorize</button>
							<input type="checkbox" ng-model="node[counter.index].authorized" required style="display:none;">
						</div>
					</div>
					<div class="row"><div class="col-md-offset-1 col-md-7"><hr></div></div>
					<div ng-if="node[counter.index].authorized">
					<!-- node form starts -->
					<div class="row" ng-repeat="field in process[counter.index].data.input">
						<div class="col-md-offset-1 col-md-2">
							<strong>{{field.name}}</strong> <span ng-show="field.required" class="cc-input-required-label">required</span>
						</div>
						<div class="col-md-5" ng-switch on="field.type">
							<span ng-switch-when="service">
								<!-- service drop down start -->
								<button class="btn btn-default" ng-show="!data.showData" ng-click="getData(data=[], node[counter.index].nodeId, field.source)">
								Get {{field.name}}
								<img alt="" ng-show="data.showWorking" src="@routes.Assets.at("images/spinner.gif")">
								</button>
								<select ng-model="field.value" ng-required="field.required" ng-show="data.showData" ng-options="d.name for d in data.data" class="form-control">
									<option value="">-- Select {{field.name}} --</option>
								</select>
								<!-- service drop down end -->
							</span>
							<span ng-switch-when="user">
								<div class="input-group">
									<input ng-model="field.value" type="text" ng-required="field.required" class="form-control">
									<div class="input-group-btn">
										<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											<img class="cc-node-input-logo" ng-src="{{process[counter.index-1].logo}}">
										</a>
										<ul class="dropdown-menu" role="menu">
											<li ng-repeat="param in process[counter.index-1].data.output" ><a href ng-click="addText(field, index=(counter.index-1), param.id)">{{param.name}}</a></li>
										</ul>
									</div>
								</div>
							</span>	

						</div>
						<br><br>
					</div>
				<!-- node form ends -->
				</div>
				</div>
				
				<br/>
				
				<span ng-switch on="count.length">
					<span ng-switch-when="1">
						<button class="btn btn-info btn-lg" ng-disabled="processform.$invalid" ng-click="nextAction()">Add Action</button>&nbsp;					
					</span>
					<span ng-switch-default>
						<button class="btn btn-info btn-lg" ng-disabled="processform.$invalid" ng-click="nextAction()">Add Next Action</button>&nbsp;					
					</span>
				</span>
				<button class="btn btn-primary btn-lg" ng-disabled="processform.$invalid" ng-show="count.length!=1" ng-click="saveProcess()">Confirm Process</button>&nbsp;
				<a href="@routes.Application.index" class="btn btn-danger btn-lg">Cancel</a>

				<br/>
				<br/>
			</div>
		</form>	
		@form(routes.Application.saveProcess, 'id -> "save_process_form"){
			<input name="processData" id="processData" type="hidden">
			<input name="triggerNode" id="triggerNode" type="hidden">
		}
<!-- -------------->

		</div>	
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/create_process.js")"></script>
	</body>
</html>