@(userForm: Form[User], requestType: Integer)

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Forgot Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app>
		@navbar()
		<div class="container">
			<div class="row">
					<h1 class="cc-title-dark">Welcome to Clocen!</h1>
			</div>
			<br/>
			<br/>
			<div class="row lead">
			@if(requestType==1) {
				@form(routes.UserController.forgotPassword(), 'name -> "forgotform") {
				<div class="col-md-offset-2 col-md-6">
					<p>Please enter your email address so that we can mail you the password reset link</p>
					@if(userForm.error("reset_error")!=null) {
					<span class="text-danger">@userForm.error("reset_error").message</span>
					}
					<div class="form-group" >
						<span ng-show="forgotform.email.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Email id should not be longer than 75 characters</span>
						<input class="form-control input-lg" name="@userForm("email").name" id="@userForm("email").id" type="email" value="@userForm("email").value" placeholder="Email" ng-model="email" ng-maxlength="75" ng-required="true">
					</div>
					<button class="btn btn-info btn-lg" type="submit" ng-disabled="forgotform.$invalid">Request Password Reset</button>
				</div>
				}
			}
			@if(requestType==2) {
				@form(routes.UserController.passwordReset(), 'name -> "resetform") {
				<div class="col-md-offset-2 col-md-6">
					<p>Please enter your new password</p>
					@if(userForm.error("reset_error")!=null) {
					<span class="text-danger">@userForm.error("reset_error").message</span>
					}
					<div class="form-group" >
						<span ng-show="resetform.password.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Password should not be longer than 75 characters</span>
						<input name="@userForm("email").name" id="@userForm("email").id" value="@userForm("email").value" type="hidden">
						<input class="form-control input-lg" name="@userForm("password").name" id="@userForm("password").id" type="password" placeholder="Password" ng-model="password" ng-maxlength="75" ng-required="true">
					</div>
					<button class="btn btn-info btn-lg" type="submit" ng-disabled="resetform.$invalid">Reset Password</button>
				</div>
				}
			}
			@if(requestType==3) {
				<div class="col-md-offset-2 col-md-6">
					<p>We have sent you an email to reset your Clocen password. <br/>Please take action on that email in the next 24 hours to reset your password.</p>
				</div>
			}
			</div>
		</div>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
	</body>
</html>
