@(userForm: Form[User])

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Clocen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body style="background-image: url('@routes.Assets.at("images/wallpaper.jpeg")')">
		@navbar()
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="cc-title-light">Connect your business applications</h1>
				</div>
			</div>
			<div class="row" style="padding-bottom: 75px; padding-top: 100px; color: #F0F8FF;">
				<div class="col-md-6">
					<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Integrate your web-based business applications</h3>
					<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Automate your business processes</h3>
					<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Get rid of data copying hassles</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					@form(routes.UserController.signup()) {
					<div class="input-group">
						<span class="input-group-addon">@@</span>
						<input class="form-control input-lg" name="email" id="email" type="email" placeholder="Email" required>
						<span class="input-group-btn">
							<button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
						</span>
					</div>
					}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	</body>
</html>
