@(userForm: Form[User])

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Clocen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href='//fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app >
		@navbar()
		<div class="jumbotron" style="background: url('@helpers.UtilityHelper.getAsset("/images/wallpaper.jpeg")') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 680px;" >
			<div class="container" style="padding-bottom: 50px;">
				<div class="row">
					<div class="col-md-12">
						<h1 class="cc-title-light" style="color: #F0F8FF;">Connect your business applications</h1>
					</div>
				</div>
				<div class="row" style="padding-bottom: 50px; color: #F0F8FF; text-shadow: black 0.1em 0.1em 0.2em;">
					<div class="col-md-offset-3 col-md-7">
						<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Integrate Internet applications that you use for work</h3>
						<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Automate your business processes free of cost</h3>
						<h3><span class="glyphicon glyphicon-cloud text-info"></span>&nbsp;&nbsp;Get rid of data copying hassles</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						@form(routes.UserController.signup(), 'name -> "signupform") {
						<span ng-show="signupform.email.$error.maxlength" class="text-warning">Email id should not be longer than 75 characters</span>
						<div class="input-group">
							<span class="input-group-addon">@@</span>
							<input class="form-control input-lg" name="email" id="email" ng-model="email" ng-maxlength="75" type="email" placeholder="Email" ng-required="true">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="submit" ng-disabled="signupform.$invalid">Sign Up</button>
							</span>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6" style="text-align: center;">
					<h1 class="cc-control-cloud">Control the Cloud</h1>
				</div>
			</div>
		</div>	
		<div class="container index-feature-container" style="background-image: url('@helpers.UtilityHelper.getAsset("/images/feature-separator.png")');">
			<div class="row">
				<div class="col-md-8">
					<img src="@helpers.UtilityHelper.getAsset("/images/process-create.png")" alt="Create process">
				</div>
				<div class="col-md-4">
					<div class="caption">
						<h2 class="cc-index-feature-header">Create Processes</h2>
						<p class="lead cc-index-feature-description">Connect your CRM, finance, marketing and other Internet applications, and automate your business processes.</p>
					</div>
				</div>
			</div>
		</div>		
		<div class="container index-feature-container" style="background-image: url('@helpers.UtilityHelper.getAsset("/images/feature-separator.png")');">
			<div class="row">
				<div class="col-md-4">
					<div class="caption">
						<h2 class="cc-index-feature-header">Manage Processes</h2>
						<p class="lead cc-index-feature-description">View and control all your processes. Access your business applications.</p>
					</div>
				</div>
				<div class="col-md-8">
					<img src="@helpers.UtilityHelper.getAsset("/images/process-view.png")" alt="View process">
				</div>
			</div>
		</div>
		<div class="container index-feature-container" style="background-image: url('@helpers.UtilityHelper.getAsset("/images/feature-separator.png")');">
			<div class="row">
				<div class="col-md-5" style="text-align: center;">
					<img src="@helpers.UtilityHelper.getAsset("/images/secure.png")" class="img-circle" style="width: 200px;" alt="Secure">
				</div>
				<div class="col-md-offset-3 col-md-4">
					<div class="caption">
						<h2 class="cc-index-feature-header">Secure and Safe</h2>
						<p class="lead cc-index-feature-description">Clocen is secure. Your passwords are encrypted, and communication is done on SSL.</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="@helpers.UtilityHelper.getAsset("/javascripts/bootstrap.min.js")"></script>
		@google_analytics()
	</body>
</html>
