@(userForm: Form[User])

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app>
		@navbar()
		<div class="container">
			<div class="row">
					<h1 class="cc-title-dark">Welcome to Clocen!</h1>
			</div>
			<div class="row">
				@form(routes.UserController.register(), 'name->"registerform") {
				<div class="col-md-offset-3 col-md-6 cc-login-form">
					@if(userForm.error("register_error")!=null) {
					<span class="text-danger"><i>@userForm.error("register_error").message</i></span>
					}
					<div class="form-group" >
						<label for="@userForm("email").id" >Email</label>
						<input class="form-control input-lg" name="@userForm("email").name" id="@userForm("email").id" type="email" value="@userForm("email").value" placeholder="Email" readonly>
					</div>
					<div class="form-group" >
						<label for="@userForm("name").id" >Name</label>
						<input class="form-control input-lg" name="@userForm("name").name" id="@userForm("name").id" type="text" placeholder="Name">
					</div>
					<div class="form-group" >
						<label for="@userForm("password").id">Password</label>
						<span ng-show="registerform.password.$error.maxlength" class="text-warning">Password should not be longer than 75 characters</span>
						<input class="form-control input-lg" name="@userForm("password").name" id="@userForm("password").id" type="password" ng-model="password" placeholder="Password" ng-maxlength="75" ng-required="true">
					</div>
					<button class="btn btn-primary btn-block btn-lg" type="submit" ng-disabled="registerform.$invalid">Register</button>
					<br/>
					<input type="checkbox" name="rememberMe" value="true" id="rememberMe"> &nbsp;Stay Logged In
				</div>
				}
			</div>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	</body>
</html>
