@(user: models.User, user_form: Form[models.User])

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>My Account</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body>
		@navbar()
		<div class="container">
			<div class="row">
				<h2 class="page-header text-primary"><span class="glyphicon glyphicon-cog"></span>&nbsp;My Account</h2>
			</div>
			@form(routes.UserController.updateProfile(user.getUserId)){
			<div class="row lead">
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("name").id">Name</label>
					</div>
					<div class="col-md-5">
						<input type="text" class="form-control input-lg" id="@user_form("name").id" name="@user_form("name").name" value="@user_form("name").value" placeholder="Name">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("email").id">Email</label>
					</div>
					<div class="col-md-5">
						<input type="text" class="form-control input-lg" id="@user_form("email").id" name="@user_form("email").name" value="@user_form("email").value" placeholder="Email">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("password").id">Password</label>
					</div>
					<div class="col-md-5">
						<input type="text" class="form-control input-lg" id="@user_form("password").id" name="@user_form("password").name" value="@user_form("password").value" placeholder="Password">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("country").id">Country</label>
					</div>
					<div class="col-md-5">
						<input type="text" class="form-control input-lg" id="@user_form("country").id" name="@user_form("country").name" value="@user_form("country").value" placeholder="Country">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-5">
						<button type="submit" class="btn btn-primary btn-lg">Update Details</button>&nbsp;
						<a class="btn btn-warning btn-lg" href="@routes.UserController.home">Cancel</a>
					</div>
				</div>
			</div>
			}
		</div>	
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	</body>
</html>