@(appList: org.codehaus.jackson.JsonNode, allProcesses: org.codehaus.jackson.JsonNode)

<!DOCTYPE html>
<html>
	<head>
		<title>Clocen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body>
		@navbar()
		<div class="container" ng-app="NodesApp">
			<br/>
			<div class="row text-primary" style="font-size: 1.5em;">
				<ul id="tabHeader" class="nav nav-tabs">
					<li class="active"><a href="#processes" data-toggle="tab"><span class="glyphicon glyphicon-link"></span>&nbsp;Processes</a></li>
					<li><a href="#apps" data-toggle="tab"><span class="glyphicon glyphicon-th"></span>&nbsp;Apps</a></li>
				</ul>
			</div>
			<!-- Tab Content Start -->
			<div id="tabContent" class="tab-content">

			<!-- Apps Tab End -->
			<div id="apps" class="tab-pane fade" >
				<div id="AppsController" ng-controller="AppsController" ng-init="appsInitialize()">
				<div class="row">
					<span class="col-md-3">
					<h3 class="text-muted">My Apps</h3>
					</span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row" ng-show="!hasApps">
							<p class="lead text-danger"><span class="glyphicon glyphicon-hand-down"></span>&nbsp;You have not authorized any apps yet!</p>
						</div>
						<div class="table-responsive">
							<table class="table table-hover">
							<tr ng-repeat="node in apps|filter:isAuthorized">
								<td style="text-align: center;">
									<img class="cc-node-medium-logo" ng-src="{{node.nodeLogo}}" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">{{node.nodeName}}</p>
								</td>
								<td colspan="2" class="cc-node-description">{{node.nodeDescription}}</td>
								<td><a class="btn btn-lg btn-default" ng-href="{{node.authURL}}" target="_new_"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a></td>
								<td><a class="btn btn-lg btn-default" ng-href="{{node.launchURL}}" target="_new_"><span class="glyphicon glyphicon-new-window"></span>&nbsp;Launch</a></td>
							</tr>
							</table>
						</div>
						<br/>
					</div>
				</div>
				
				<div class="row">
					<span class="col-md-3">
					<h3 class="text-muted">All Apps</h3>
					</span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
							<tr ng-repeat="node in apps|filter:isNotAuthorized">
								<td style="text-align: center;">
									<img class="cc-node-medium-logo" ng-src="{{node.nodeLogo}}" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">{{node.nodeName}}</p>
								</td>
								<td colspan="2" class="cc-node-description">{{node.nodeDescription}}</td>
								<td><button class="btn btn-lg btn-success" ng-click="openAuthorizeWindow(node)">Authorize</button></td>
								<td>&nbsp;</td>
							</tr>
							</table>
						</div>
						<br/>
					</div>
				</div>
				</div>
			</div>
			<!-- Apps Tab End -->
			
			<!-- Processes Tab Start -->
			<div id="processes" class="tab-pane fade in active">
				<br/>
				<div class="row" ng-controller="AllProcessController" ng-init="processesInitialize()">
					<div class="row" ng-if="processes.length<=0">
						<br/><br/>
						<div class="col-md-offset-4 col-md-4">
							<a class="btn btn-lg btn-primary" href="@routes.Application.viewCreateProcess"><span class="glyphicon glyphicon-link"></span>&nbsp;Create Your First Process</a>
						</div>
					</div>
					<div class="row" ng-repeat="process in processes">
						<div class="panel panel-info">
							<div class="panel-body">
								<div ng-repeat="node in process.data">
									<div class="col-md-1" style="text-align: center;">
										<img class="cc-node-small-logo" ng-src="{{node.logo}}" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
										<p class="text-muted" style="font-size:0.8em;">{{node.name}}</p>
										<p class="text-primary">{{node.data.name}}</p>
									</div>
									<div ng-if="!$last" class="col-md-1 text-muted" style="text-align: center; font-size: 1.5em;">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<a ng-href="{{viewProcess(process.processId)}}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;View</a>
								&nbsp;
								<button ng-click="pauseProcess(process)" class="btn btn-default btn-lg">
									<span ng-if="!process.paused">
										<span class="glyphicon glyphicon-pause"></span>&nbsp;Pause
									</span>
									<span ng-if="process.paused">
										<span class="glyphicon glyphicon-play"></span>&nbsp;Start
									</span>
								</button>
								&nbsp;
								<button ng-click="deleteProcess(process.processId)" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Processes Tab End -->

			</div>
			<!-- Tab Content End -->
			
		</div>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script>
			var app = angular.module('NodesApp', []);
			
			app.controller('AppsController', ['$scope', '$window', function($scope, $window){
				
				$scope.appsInitialize = function() {
					$scope.apps = @Html(appList.toString());
				}
				
				$scope.isAuthorized = function(node) {
					if(node.authorized)
						$scope.hasApps = true;
					return node.authorized;
				}

				$scope.isNotAuthorized = function(node) {
					return !node.authorized;
				}
				
				$scope.openAuthorizeWindow = function(node) {
					$scope.currentNode = node;
					$window.open(node.authURL, '_new_');
				}
				
				$scope.authorizeCurrentNode = function() {
					$scope.currentNode.authorized = true;
				}
			}]);

			app.controller('AllProcessController', ['$scope', '$http', function($scope, $http){
				$scope.processesInitialize = function() {
					$scope.processes = @Html(allProcesses.toString());
				}
				
				$scope.deleteProcess = function(processId) {
					$http.get('/app/process/delete/'+processId)
					.success(function(responseData){
						angular.forEach($scope.processes, function(process, index){
							if(process.processId==processId){
								$scope.processes.splice(index,1);
							}
						});
					}).error(function(errorData){
						$scope.error = errorData;
					});
				}
				
				$scope.viewProcess = function(processId) {
					return '/app/process/view/'+processId;
				}

				
				$scope.pauseProcess = function(process) {
					$http.get('/app/process/pause/'+process.processId)
					.success(function(responseData){
						process.paused=!process.paused;
					}).error(function(errorData){
						$scope.error = errorData;
					});
				}
				
			}]);

			/**
				Callback function thats gets called by the subwindow for oauth authorization
			**/
			function oauthCallback() {
				angular.element($('#AppsController')).scope().$apply(function(scope){
					scope.authorizeCurrentNode();
				});
			}
		</script>
	</body>
</html>