@(user: models.User, user_form: Form[models.User], countries: org.codehaus.jackson.JsonNode)

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>My Account</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app="UserProfileApp">
		@navbar()
		<div class="container" ng-controller="UserProfileController">
			<div class="row">
				<h2 class="page-header text-primary"><span class="glyphicon glyphicon-cog"></span>&nbsp;My Account</h2>
			</div>
			@form(routes.UserController.updateProfile(user.getUserId), 'name -> "profileform"){
			<div class="row lead">
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("name").id">Name</label>
					</div>
					<div class="col-md-5">
						<span ng-show="profileform.name.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Name should not be longer than 100 characters</span>
						<input type="text" class="form-control input-lg" id="@user_form("name").id" name="@user_form("name").name" value="@user_form("name").value" placeholder="Name" ng-model="name" ng-maxlength="100">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("email").id">Email</label>
					</div>
					<div class="col-md-5">
						<span ng-show="profileform.email.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Email should not be longer than 100 characters</span>
						<input type="email" class="form-control input-lg" id="@user_form("email").id" name="@user_form("email").name" value="@user_form("email").value" placeholder="Email" ng-model="email" ng-maxlength="100" ng-required="true">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("password").id">Password</label>
					</div>
					<div class="col-md-5">
						<span ng-show="profileform.password.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Password should not be longer than 100 characters</span>
						<input type="password" class="form-control input-lg" id="@user_form("password").id" name="@user_form("password").name" placeholder="Password" ng-model="password" ng-maxlength="100" >
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("company").id">Company</label>
					</div>
					<div class="col-md-5">
						<span ng-show="profileform.company.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Company should not be longer than 100 characters</span>
						<input type="text" class="form-control input-lg" id="@user_form("company").id" name="@user_form("company").name" placeholder="Company" ng-model="company" ng-maxlength="100" >
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("website").id">Website</label>
					</div>
					<div class="col-md-5">
						<span ng-show="profileform.website.$error.maxlength" class="text-warning" style="font-size: 0.75em;">Website should not be longer than 200 characters</span>
						<input type="url" class="form-control input-lg" id="@user_form("website").id" name="@user_form("website").name" placeholder="Website" ng-model="website" ng-maxlength="200" >
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-2">
						<label for="@user_form("country").id">Country</label>
					</div>
					<div class="col-md-3">
						<select class="form-control input-lg" ng-model="userCountry" ng-change="setCountry()" ng-options="country.id as country.name for country in countries">
						</select>
						<input type="hidden" name="@user_form("country").name" id="@user_form("country").id" value="@user_form("country").value">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-offset-1 col-md-5">
						<button type="submit" class="btn btn-primary btn-lg" ng-disabled="profileform.$invalid">Update Details</button>&nbsp;
						<a class="btn btn-warning btn-lg" href="@routes.Application.index"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back</a>
					</div>
				</div>
			</div>
			}
		</div>	
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@helpers.UtilityHelper.getAsset("/javascripts/bootstrap.min.js")"></script>
		<script>
			angular.module('UserProfileApp', []).controller('UserProfileController', ['$scope', function($scope) {
				$scope.countries = @Html(countries.toString());
				$scope.userCountry = '@user_form("country").value';
				
				$scope.name = '@user_form("name").value';
				$scope.email = '@user_form("email").value';
				$scope.company = '@user_form("company").value';
				$scope.website = '@user_form("website").value';
				
				$scope.setCountry = function() {
					$('#@user_form("country").id').val($scope.userCountry);
				}
			}]);
		</script>
		@google_analytics()
	</body>
</html>