@(infoList: List[ServiceNodeInfo])

<!DOCTYPE html>
<html>
	<head>
		<title>Clocen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body>
		@navbar()
		<div class="container">
			<br/>
			<div class="row text-primary" style="font-size: 1.5em;">
				<ul id="tabHeader" class="nav nav-tabs">
					<li class="active"><a href="#apps" data-toggle="tab"><span class="glyphicon glyphicon-th"></span>&nbsp;Apps</a></li>
					<li><a href="#processes" data-toggle="tab"><span class="glyphicon glyphicon-link"></span>&nbsp;Processes</a></li>
				</ul>
			</div>
			<!-- Tab Content Start -->
			<div id="tabContent" class="tab-content">

			<!-- Apps Tab End -->
			<div id="apps" class="tab-pane fade in active">
				<div class="row">
					<span class="col-md-3">
					<h3 class="text-muted page-header">My Apps</h3>
					</span>
				</div>
				<div class="row">
					<div class="col-md-8">
						@for(node <- infoList) {
							@if(node.isAuthorized) {
							<div class="row">
								<div class="col-md-3" style="text-align: center;">
									<img class="cc-node-medium-logo" src="@node.getNodeLogo" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">@node.getNodeName</p>
								</div>
								<div class="col-md-7 cc-node-description">@node.getNodeDescription</div>
								<div class="col-md-2"><a class="btn btn-warning" href="@node.getURL" target="_new_"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a></div>
							</div>
							<br/>
							}
						}
					</div>
				</div>
				
				<div class="row">
					<span class="col-md-3">
					<h3 class="text-muted page-header">All Apps</h3>
					</span>
				</div>
				<div class="row">
					<div class="col-md-8">
						@for(node <- infoList) {
							@if(!node.isAuthorized) {
							<div class="row">
								<div class="col-md-3" style="text-align: center;">
									<img class="cc-node-medium-logo" src="@node.getNodeLogo" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">@node.getNodeName</p>
								</div>
								<div class="col-md-7 cc-node-description">@node.getNodeDescription</div>
								<div class="col-md-2"><a class="btn btn-success" href="@node.getURL" target="_new_">Authorize</a></div>
							</div>
							<br/>
							}
						}
					</div>
				</div>
			</div>
			<!-- Apps Tab End -->
			
			<!-- Processes Tab Start -->
			<div id="processes" class="tab-pane fade" ng-app="AllProcessesApp">
				<br/>
				<div class="row" ng-controller="AllProcessController" ng-init="getAllProcesses()">
					<div class="row" ng-repeat="process in processes">
						<div class="panel panel-info">
							<div class="panel-body">
								<div ng-repeat="node in process.data">
									<div class="col-md-1" style="text-align: center;">
										<img class="cc-node-small-logo" ng-src="{{node.logo}}" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
										<p class="text-muted" style="font-size:0.8em;">{{node.name}}</p>
										<p class="text-primary">{{node.data.name}}</p>
									</div>
									<div ng-if="!$last" class="col-md-1 text-muted" style="text-align: center; font-size: 1.5em;">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<button ng-click="pauseProcess(process.processId)" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-pause"></span>&nbsp;Pause</button>
								&nbsp;
								<button ng-click="deleteProcess(process.processId)" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Processes Tab End -->

			</div>
			<!-- Tab Content End -->
			
		</div>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/process_info.js")"></script>
	</body>
</html>