@(infoList: List[ServiceNodeInfo])

<!DOCTYPE html>
<html>
	<head>
		<title>ServiceNode</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body>
		@navbar()
		<div class="container">
			<div class="row">
				<h2 class="page-header text-primary"><span class="glyphicon glyphicon-th"></span>&nbsp;My Apps</h2>
				<div class="row">
					<div class="col-md-8">
						@for(node <- infoList) {
							@if(node.isAuthorized) {
							<div class="row">
								<div class="col-md-3" style="text-align: center;">
									<img class="cc-node-medium-logo" src="@node.getNodeLogo" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">@node.getNodeName</p>
								</div>
								<div class="col-md-7 lead">@node.getNodeDescription</div>
								<div class="col-md-2"><a class="btn btn-warning" href="@node.getURL"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a></div>
							</div>
							<br/>
							}
						}
					</div>
				</div>
				
				<h2 class="page-header text-primary"><span class="glyphicon glyphicon-th"></span>&nbsp;All Apps</h2>
				<div class="row">
					<div class="col-md-8">
						@for(node <- infoList) {
							@if(!node.isAuthorized) {
							<div class="row">
								<div class="col-md-3" style="text-align: center;">
									<img class="cc-node-medium-logo" src="@node.getNodeLogo" style="padding-bottom: 5px;border-bottom: 1px solid lightgray;">
									<p class="text-info">@node.getNodeName</p>
								</div>
								<div class="col-md-7 lead">@node.getNodeDescription</div>
								<div class="col-md-2"><a class="btn btn-success" href="@node.getURL">Authorize</a></div>
							</div>
							<br/>
							}
						}
					</div>
				</div>
			</div>
			
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	</body>
</html>