@(process: org.codehaus.jackson.JsonNode)

@import helper._

<!DOCTYPE html>
<html>
	<head>
		<title>Process</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link href="@helpers.UtilityHelper.getAsset("/stylesheets/main.css")" rel="stylesheet" media="screen">
	</head>
	<body ng-app="ViewProcessApp">
		@navbar()
		<div class="container" ng-controller="ProcessController" ng-init="initialize()">
			<div class="row page-header">
				<div class="col-md-12">
					<h1><span class="glyphicon glyphicon-link"></span>&nbsp;Process</h1>
				</div>
			</div>

<!-- -------------->
			<div class="row">
				<div class="row" ng-repeat="node in process.data">
					<span class="text-primary col-md-12" ng-switch on="$index">
						<span ng-switch-when="0">
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Trigger</h3>
						</span>
						<span ng-switch-when="1">
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Action</h3>
						</span>
						<span ng-switch-default>
							<h3><span class="glyphicon glyphicon-edit"></span>&nbsp; Next Action</h3>
						</span>
					</span>
					<div class="row">
						<div class="col-md-1">
							<img class="cc-node-medium-logo" ng-src="{{node.logo}}">
						</div>
						<div class="col-md-3">
							<select class="form-control input-lg" disabled>
								<option value="node.node" title="node.name" ng-selected="true">{{node.name}}</option>
							</select>
						</div>
						<div class="col-md-offset-1 col-md-3">
							<select class="form-control input-lg" disabled>
								<option value="node.data.id" title="node.data.name" ng-selected="true">{{node.data.name}}</option>
							</select>
						</div>
					</div>
					<div class="row"><div class="col-md-offset-1 col-md-7"><hr></div></div>
					<!-- node form starts -->
					<div class="row" ng-repeat="field in node.data.input" style="margin-bottom: 10px;">
						<div class="col-md-offset-1 col-md-2">
							<strong>{{field.name}}</strong>
						</div>
						<div class="col-md-5" ng-switch on="field.type">
							<span ng-switch-when="service">
								<!-- service drop down start -->
								<select class="form-control" disabled>
									<option value="field.value.id" title="field.value.name" ng-selected="true">{{field.value.name}}
								</select>
								<!-- service drop down end -->
							</span>
							<span ng-switch-when="string">
								<div class="input-group">
									<input ng-model="field.value" type="text" class="form-control" readonly>
									<div class="input-group-btn">
										<a href="#" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
											<img class="cc-node-input-logo" ng-src="{{process.data[$parent.$parent.$index-1].logo}}">
										</a>
									</div>
								</div>
							</span>	
							<span ng-switch-when="longstring">
								<div class="input-group">
									<textarea rows="4" ng-model="field.value" ng-required="field.required" class="form-control" readonly></textarea>
									<div class="input-group-btn" style="vertical-align: bottom;">
										<a href="#" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
											<img class="cc-node-input-logo" ng-src="{{process.data[$parent.$parent.$index-1].logo}}">
										</a>
									</div>
								</div>
							</span>	
							<span ng-switch-when="file">
								<div class="input-group">
									<input ng-model="field.value" type="text" class="form-control" readonly>
									<div class="input-group-btn">
										<a href="#" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
											<img class="cc-node-input-logo" ng-src="{{process.data[$parent.$parent.$index-1].logo}}">
										</a>
									</div>
								</div>
							</span>	
						</div>
						<!-- <br><br>  -->
					</div>
				<!-- node form ends -->
				</div>
				
				<br/>
				<br/>
				<a href="@routes.Application.index" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back</a>
				<br/>
				<br/>
			</div>
<!-- -------------->

		</div>	
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="@helpers.UtilityHelper.getAsset("/javascripts/bootstrap.min.js")"></script>
		<script>
			angular.module('ViewProcessApp', []).controller('ProcessController', ['$scope', function($scope){
				$scope.initialize = function() {
					$scope.process = @Html(process.toString());
				}
			}]);

			
		</script>
		@google_analytics()
	</body>
</html>